*,
::before,
::after 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
    font-family: Arial;
    width: 100%;
    height: 100vh;
}

.grid-header 
{
    display: grid;
    width: 100%;
    height: 15vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.logoContainer 
{
    display: flex;
}

.hamburger 
{
    display: none;
}

.bar 
{
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0;
}

.menu 
{
    display: flex;
    justify-content: right;
    margin: 20px;
}

.menu ul 
{
    display: flex;
    list-style: none;
    text-align: center;
}

.menu li 
{
    margin: 15px;
}

.menu a 
{
    width: 80%;
    text-decoration: none;
    color: #333;
    transition: 0.4s;
}

.menu a:hover 
{
    color: #FFB703;
}

#closeButton
{
    display: none;
}

.grid-accueil 
{
    display: grid;
    width: 97%;
    height: 80vh;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f5c651;
    border-radius: 15px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.containerPresentation 
{
    letter-spacing: 2px;
    margin-left: 60px;
}   

#Title 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    display: flex;
    width: 80%;
}

.containerRamen
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Ramen
{
    width: 80%;
}

.grid-service
{
    display: grid;
    width: 40%;
    height: 15vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: -3%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.centerLivraison, .centerTransit, .centerNatural
{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container
{
    background-color: #f5c651;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon
{
    width: 60%;
}

.ServiceTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#textService
{
    text-align: center;
    font-size: small;
}

footer
{
    display: grid;
    width: 100%;
    height: 40vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    margin-top: 2%;
}

.containerAdresse, .containerHoraires
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 10px;
}

hr{
    width: 200px;
}

#Adresse, #Horaires
{
    color: white;
    text-align: center;
    margin: 10px;
}

.containerInfo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#info
{
    color: white;
    margin: 10px;
    text-align: center;
}

@media (max-width: 1151px) 
{
    li, a 
    {
        font-size: 10px;
    }
    .logoContainer 
    {
        width: 150px; 
    }
}

@media (max-width: 785px) 
{
    .hamburger 
    {
        display: flex;
        position: absolute;
        right: 0;
        margin: 30px;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #ff8d85;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }

    .menu 
    {
        display: none;
    }

    #closeButton
    {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: rgb(0, 0, 0);
        background: none;
        border: none;
        position: absolute;
        margin: 20px;
        font-size: x-large;
    }
    

    .menu.active 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        background-color: #ffffff;
        width: 50%;
        height: 40%;
        text-align: center;
        margin: 0;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }

    .menu.active ul 
    {
        flex-direction: column;
    }

    .menu.active li 
    {
        margin: 20px;
        border-bottom-color: #333;
        border-bottom-width: 2px;
    }
    .menu.active a 
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    .grid-accueil 
    {
    display: grid;
    width: 97%;
    height: 90vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #f5c651;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    }
    .containerRamen
    {
        grid-row: 1;
        justify-content: center;
        align-items: center;
    }
    #Ramen
    {
        width: 60%;
        margin: 10px;
    }
    .containerPresentation
    {
        background-color: whit;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #Title
    {
        justify-content: center;
        text-align: center;
    }
    .grid-service
    {
        width: 60%;
    }
}

@media (max-width: 650px)
{
    .grid-service
    {
        margin-top: 0;
        margin: 10px;
        width: 97%;
    }
    .grid-accueil
    {
        height: 50vh;
    }
}

@media (max-width: 559px)
{
    #info
    {
        font-size: x-small;
    }
    hr
    {
        width: 100px;
    }
    #Horaires, #Adresse
    {
        font-size: small;
    }
}

@media (max-width: 440px)
{
    .menu.active
    {
        width: 70%;
    }
    .menu.active a 
    {
        font-size: 10px;
    }
    #Title
    {
        font-size: large;
    }
    .grid-accueil
    {
        height: 40vh;
    }
}
