*,
::before,
::after 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
    font-family: Arial;
    width: 100%;
    height: 100vh;
}

.grid-header 
{
    display: grid;
    width: 100%;
    height: 15vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.logoContainer 
{
    display: flex;
}

.hamburger 
{
    display: none;
}

.bar 
{
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0;
}

.menu 
{
    display: flex;
    justify-content: right;
    margin: 20px;
}

.menu ul 
{
    display: flex;
    list-style: none;
    text-align: center;
}

.menu li 
{
    margin: 15px;
}

.menu a 
{
    width: 80%;
    text-decoration: none;
    color: #333;
    transition: 0.4s;
}

.menu a:hover 
{
    color: #FFB703;
}

#closeButton
{
    display: none;
}

#Title
{
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container-popup
{
    width: 50%;
    height: 30px;
    background-color: rgb(148, 223, 148);
    border: 2px solid rgb(35, 118, 35);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.grid-formulaire
{
    display: grid;
    width: 100%;
    height: 85vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.container-form
{
    margin: 0 auto;
    margin-top: 10%;
}

.horaires
{
    display: block;
}

input
{
    border: 1px solid #ff8d85;
    color: grey;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px;
}

select
{
    border: 1px solid #ff8d85;
    color: grey;
    border-radius: 3px;
    width: 220px;
    height: 30px;
}

#email, #title-input, #phone
{
    display: block;
    width: 305px;
}

#réserver
{
    background-color: #ff8d85;
    width: 305px;
    border: none;
    height: 40px;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}

#réserver:hover{
    background-color: white;
    border: 1px solid #ff8d85;
    color: #ff8d85;
}

.containerImage
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bol
{
    width: 100%;
}

footer
{
    display: grid;
    width: 100%;
    height: 40vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
}

.containerAdresse, .containerHoraires
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 10px;
}

hr{
    width: 200px;
}

#Adresse, #Horaires
{
    color: white;
    text-align: center;
    margin: 10px;
}

.containerInfo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#info
{
    color: white;
    margin: 10px;
    text-align: center;
}

@media (max-width: 1151px) 
{
    li, a 
    {
        font-size: 10px;
    }
    .logoContainer 
    {
        width: 150px; 
    }
}

@media (max-width: 785px) 
{
    .hamburger 
    {
        display: flex;
        position: absolute;
        right: 0;
        margin: 30px;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #ff8d85;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }

    .menu 
    {
        display: none;
    }

    #closeButton
    {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: rgb(0, 0, 0);
        background: none;
        border: none;
        position: absolute;
        margin: 20px;
        font-size: x-large;
    }
    
    .menu.active 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        background-color: #ffffff;
        width: 50%;
        height: 40%;
        text-align: center;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .menu.active ul 
    {
        flex-direction: column;
    }

    .menu.active li 
    {
        margin: 20px;
        border-bottom-color: #333;
        border-bottom-width: 2px;
    }
    .menu.active a 
    {
        font-size: 15px;
        color: rgb(0, 0, 0);
    }
    .grid-formulaire
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 110vh;
    }
    #bol
    {
        width: 70%;
    }
}

@media (max-width: 559px)
{
    #info
    {
        font-size: x-small;
    }
    hr
    {
        width: 100px;
    }
    #Horaires, #Adresse
    {
        font-size: small;
    }
    #popupText
    {
        font-size: x-small;
        text-align: center;
    }
}

@media (max-width: 440px)
{
    .menu.active
    {
        width: 70%;
    }
    .menu.active a 
    {
        font-size: 10px;
    }
    .grid-formulaire
    {
        height: 90vh;
    }
}